.card-cours {
  background-color: #EEEEEE;
  box-shadow: 3px 3px 5px grey;
  border-radius: 5px;
  margin-top: 100px;
  padding: 30px;
  font-size: 20px;
}

.spacer {
  height: 100px;
}

.next {
  color:#f05f40;
  margin-top: 200px;
}

.shadow {
  text-shadow: 2px 2px 5px black;
}

.name-cat {
  font-size: 22px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: white;

}

.name-cat:hover {
  text-decoration: none;
  color: white;
}

.modal-content {
  background-color: black;
}

.modal-pictures {
  height: 350px;
}
.modal-border {
  border: 3px solid black;
}

.a1 {
  height: 500px;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/v1448884130/nouvelle_ogaamv.jpg");
  background-size: cover;
}

.a2 {
  height: 500px;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/v1448884119/003_h54rak.jpg");
  background-size: cover;
}

.paint1 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/c_scale,w_350/v1450513312/baobazart/P1090209.jpg");
  background-size: cover;
}

.paint2 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/c_scale,w_400/v1450513312/baobazart/2015-12-16_12.10.51.jpg");
  background-size: cover;
}

.paint3 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/c_scale,w_400/v1450513312/baobazart/P1090130.jpg");
  background-size: cover;
}

.paint4 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/c_scale,w_400/v1450513312/baobazart/IMG_3538.jpg");
  background-size: cover;
}

.p1 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/v1450513312/baobazart/2015-12-16_12.17.58.jpg");
  background-size: cover;
}

.p2 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/v1450513313/baobazart/P1090213.jpg");
  background-size: cover;

}

.p3 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/v1450513312/baobazart/20151216_190859_1.jpg");
  background-size: cover;

}

.p4 {
  height: 100%;
  background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/v1450513313/baobazart/P1090132.jpg");
  background-size: cover;
 }
.modal-title, .close {
  color: white;
}

.close {
  color: white;
}

.facebook-link {
  color: white;
}

.background-pages {
  z-index: 1;
  position: absolute;
  height: 100%;
  width:100%;
  background-image: url("../img/peinture2.jpg");
  background-size: cover;

}

.filter {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);

}

#contact {
  background-color: #6C7A89;
  color: white;

}
