.card-cours {
  background-color: #EEEEEE;
  box-shadow: 1px 1px 3px grey;
  border-radius: 5px;
  margin-top: 100px;
  padding: 30px;
  font-size: 20px;
}

.spacer {
  height: 100px;
}

.next {
  color:#F7CA18;
  margin-top: 200px;
}

.title-header {
  font-size: 100px;
  color: white;
  font-weight: bold;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

/*.shadow {
  text-shadow: 2px 2px 5px black;
}*/

.name-cat {
  font-size: 22px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: white;

}

.name-cat:hover {
  text-decoration: none;
  color: white;
}

.modal-content {
  background-color: white;
}

.modal-pictures {
  height: 350px;
}
.modal-border {
  border: 3px solid white;
}

.dessin-page {
  background-color: #6C7A89;
}


#portfolio {
  background-color: #f7f7f7;
}

.title-nav {
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;

}

.title-nav a {
  color: #444;
  line-height: 2;

}
.title-nav a:hover {
  text-decoration: none;
  color: #F7CA18;
}

@media (max-width: 741px) {
  .title-nav a {
    color: #F7CA18;
  }
}


.modal-title, .close {
  color: white;
}

.close {
  color: white;
}

#creation {
  color: #444;
}

#about {
  background-color: #f7f7f7;
  color: #444;
}

#contact {
  background-color: #fff;
  color: #444;
}

.fa-facebook-square:hover {
  font-size: 40px;
}

.footer {
  height: 50px;
  width: auto;
  background-color: #f7f7f7;
  font-family: sans-serif;
  color: #444;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer ul li a {
  text-decoration: none;
  color: #444;
}

.footer ul li a:hover {
  color: #F7CA18;
}

.mentions {
  background-color: white;
  color: grey;
}

.background-pages {
  background-color: #6C7A89;
}

/* media queries */


@media (min-width: 974px) {
  .background-pages {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width:100%;
    background-image: url("http://res.cloudinary.com/dp8fx5icp/image/upload/c_scale,w_1000/v1457514405/baobazart/P1090129.jpg");
    background-size: cover;

  }

  .filter {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);

  }
}
