.card-cours {
  background-color: #EEEEEE;
  box-shadow: 3px 3px 5px grey;
  border-radius: 5px;
  margin-top: 100px;
  padding: 30px;
  font-size: 20px;
}

.spacer {
  height: 100px;
}

.next {
  color:#f05f40;
  margin-top: 200px;
}

.shadow {
  text-shadow: 2px 2px 5px black;
}

.name-cat {
  font-size: 22px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: white;

}

.name-cat:hover {
  text-decoration: none;
  color: white;
}

.modal-content {
  background-color: black;
}


.background-pages {
  z-index: 1;
  position: absolute;
  height: 100%;
  width:100%;
  background-image: url("../img/peinture2.jpg");
  background-size: cover;

}

.filter {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);

}

#contact {
  background-color: #6C7A89;
  color: white;
  
}
